body
{
    background-image: url("maths.jpg");
	font-family: 'Lobster', cursive;
    margin-top: 0px;
    margin-bottom: 20px;
    
}
h2{
    font-size: 50px;

}


	

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	font-weight:bold;
}
#word
{
	width: 50%;
    height: 40%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
width:50%;
padding: 10px;
float: none;
text-align: left;
box-shadow: 3px 3px 3px grey;
}
#login{
	transition:transform 3s;
	
	
	 }
#login:hover{
transform:rotateZ(180deg);
 }

 #btnsend{
 box-shadow: 3px 3px 3px grey;
 width:20%;
 transition:transform 0.5s;
 
 }

 #btnsend:hover{
  transform:translate(5px,3px);

 }
 #number1
{
background: white;
border-radius: 10px;

padding: 10px;
float: none;
text-align: left;
box-shadow: 3px 3px 3px grey;
width:50%;
}
#number2
{
background: white;
width:50%;
border-radius: 10px;

padding: 10px;
float: none;
text-align: left;
box-shadow: 3px 3px 3px grey;
}
 #player1_name{
  font-size: 30px;
  color:darkblue;
 }
 #player2_name{
	font-size: 30px;
   color:darkblue;
   }
   #player1_score{
	font-size: 30px;
	color:blue;

   }
   #player2_score{
	font-size: 30px;
	color:blue;

   }